Python with AI - Level 3/Django/helloWorld/helloWorld/__pycache__/__init__.cpython-38.pyc
Python with AI - Level 3/Django/helloWorld/helloWorld/__pycache__/settings.cpython-38.pyc
Python with AI - Level 3/Django/helloWorld/helloWorld/__pycache__/urls.cpython-38.pyc
Python with AI - Level 3/Django/helloWorld/helloWorld/__pycache__/wsgi.cpython-38.pyc
Python with AI - Level 3/Django/helloWorld/pages/__pycache__/__init__.cpython-38.pyc
Python with AI - Level 3/Django/helloWorld/pages/__pycache__/admin.cpython-38.pyc
Python with AI - Level 3/Django/helloWorld/pages/__pycache__/models.cpython-38.pyc
Python with AI - Level 3/Django/helloWorld/pages/__pycache__/urls.cpython-38.pyc
Python with AI - Level 3/Django/helloWorld/pages/__pycache__/views.cpython-38.pyc
Python with AI - Level 3/Django/helloWorld/pages/migrations/__pycache__/__init__.cpython-38.pyc
Python with AI - Level 3/Django/helloWorld/pages/__pycache__/views.cpython-38.pyc
Python with AI - Level 3/Django/helloWorld/helloWorld/__pycache__/wsgi.cpython-38.pyc